@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;
	}
}
* {
	@apply text-black dark:text-white;
}
body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
	@apply font-[Oswald] tracking-wide text-lg;
}
main {
	@apply min-h-[90vh];
}
header {
	@apply p-4 flex items-center justify-between;
}
nav {
	@apply flex gap-4 items-center;
}
img[src$=".svg"] {
	@apply dark:invert;
}
.header-link {
	@apply hover:bg-brand-blue hover:bg-opacity-20 dark:hover:bg-stone-800 p-2 transition-all duration-300 rounded-sm;
}
